@media screen and (max-width: 600px) { /* Estiliza a barra de navegação quando a largura da tela é igual ou menor que 600 pixels */
  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }
}
body {
  background: url(img/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Estilizando os links da barra de navegação */
.navbar a {                       
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  position: relative;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: width 0.3s; 
}

.navbar a:hover::after {
  width: 100%;
}
