body {
  background: url(img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  position: relative;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: width 0.3s;
}

.navbar a:hover::after {
  width: 100%;
}

.calculator {
  margin-top: 100px;
  background-color: #dcdcdc;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  width: 270px; /* Ajuste o tamanho da calculadora */
}

.calculator input[type="text"] {
  width: 80%;
  padding: 7px;
  font-size: 20px;
  margin-bottom: 10px;
}

.calculator button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
